@import "../../Styles/mixins.module";
@import "../../Styles/variables.module";

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  @include sectionTitle
}
.projectsList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .projectsItem {
    width: 45%;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: -6px 10px 40px rgb(0 0 0 / 6%);
    margin-bottom: 50px;

    button {
      background: #ffffffc7;
      font-weight: 700;
    }

    .cardText {
      padding: 20px;
      box-sizing: border-box;

      h3 {
        @include cardTitle;
        margin-bottom: 15px;
      }

      p {
        @include text;
      }
    }
  }
}

.imgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f5f5;
  height: 250px;
}

@media (max-width: 768px) {
  .projectsList {
  }
  .projectsItem {
    width: 48%;
    margin-bottom: 40px;
  }
  .imgContainer {
    height: 200px;
  }
}

@media (max-width: 620px) {
  .projectsList {
    flex-direction: column;
    align-items: center;

    .projectsItem {
      width: 80%;
    }

    .imgContainer {
      height: 250px;
    }
  }
}

@media (max-width: 480px) {
  .projectsList {

    .projectsItem {
    }

    .imgContainer {
      height: 150px;

      button {
        padding: 6px 12px;
      }
    }
  }
}