.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  margin: 40px 0;
}
.projectsList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.projectsItem {
  width: 45%;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  border: 1px solid black;
}
.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 250px;
}
@media (max-width: 768px) {
  .projectsList {}
  .projectsItem {
    width: 48%;
    margin-bottom: 40px;
  }
  .imgContainer {
    height: 200px;
  }
}
@media (max-width: 620px) {
  .projectsList {
    flex-direction: column;
    align-items: center;
  }
  .projectsItem {
    width: 80%;
  }
  .imgContainer {
    height: 250px;
  }
}
@media (max-width: 480px) {
  .projectsList {}
  .projectsItem {}
  .imgContainer {
    height: 200px;
  }
}