@import "../../Styles/variables.module";
@import "../../Styles/mixins.module";

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  @include sectionTitle;
  margin-bottom: 0;
}

.skillsList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skillsItem {
  width: 30%;
  max-width: 250px;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 10px 0;
  border-bottom: 1px solid $primaryColor;
  border-right: 1px solid $primaryColor;

  h3 {
    @include cardTitle;
  }

  p {
    @include text;
    text-align: justify;
  }
}

@media (max-width: 790px) {
  .skillsList {
    justify-content: space-around;
  }
}

@media (max-width: 505px) {
  .skillsList {
    flex-direction: column;
    align-content: center;

    .skillsItem {
      margin-top: 30px;
    }
  }
}

@media (max-width: 480px) {

}