@import '../Styles/variables.module.scss';
@import '../Styles/mixins.module.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 80%;
}
.section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 100px 0;
  background: #ffffff;

  &:nth-child(odd) {
    background: $lightBackground;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  box-sizing: border-box;

  .inner {
    flex-direction: row;
    justify-content: space-around;
  }
}
.sectionTitle {
  @include sectionTitle;
}

.remoteWork .sectionTitle {
  text-align: center;
}

@media (max-width: 480px) {
  .greeting .container {
    height: 100%;
  }
  .greeting .inner {
    height: 100%;
    flex-direction: column-reverse;
  }
  .section {
    padding: 20px 0 40px;
  }
}