@import "../Styles/variables.module.scss";

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  background: $darkBackground;
  color: white;
}
.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  margin: 40px 0;
}
.list {
  width: 60%;
  display: flex;
  justify-content: space-around;
}
.listItem {
  position: relative;
  padding: 10px 20px;
  color: #fff;

}
.rights {
  align-self: flex-end;
}
@media (max-width: 768px) {
  .list {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .list {
    justify-content: space-between;
  }
}